@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Poppins:wght@400;500&display=swap');
@import url('./root.css');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
}

/* font-size */
.fs-xs {
    font-size: var(--fs-xs);
}

.fs-s {
    font-size: var(--fs-s);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-sm1 {
    font-size: var(--fs-sm1);
}

.fs-sm2 {
    font-size: var(--fs-sm2);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-l {
    font-size: var(--fs-l);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.z-5 {
    z-index: 5;
}

/* color */
.bl {
    color: var(--color-bl);
}

.bl1 {
    background-color: var(--color-bl1);
}

.color-cream {
    color: var(--color-cream);
}

.light_blue {
    color: var(--color-light_blue);
}

.light_blue1 {
    color: var(--color-light_blue1);
}

.light_blue2 {
    color: var(--color-light_blue2);
}

.dark_blue {
    background-color: var(--color-dark_blue);
}

.dark_blue1 {
    color: var(--color-dark_blue1);
}

.dark_blue2 {
    color: var(--color-dark_blue2);
}

.dark_blue3 {
    color: var(--color-dark_blue3);
}

.ff-poppins {
    font-family: 'poppins', 'sans-serif';
}

.ff-plus {
    font-family: 'Plus Jakarta Sans';
}

.lh-170 {
    line-height: 170%;
}

.lh-126 {
    line-height: 126%;
}

.letter-spacing-3 {
    letter-spacing: 3px;
}

.font {
    font-style: normal;
}

.font2 {
    font-style: italic;
}

/* header */
header {
    background-image: url('../images/hero-bg.webp') !important;
    background-position: top;
    background-repeat: no-repeat;
}

.underline {
    position: relative;
    transition: all 300ms linear;
}

.underline::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background-color: var(--color-white);
    left: 0;
    top: 27px;
    transition: 300ms all linear;
}
nav{
    overflow: hidden;
}
.underline:hover::after {
    width: 100%;
}

.underline:hover {
    color: var(--color-white);
}
.bg-gredient {
    border-bottom: 1px solid rgba(251, 253, 255, 0.20);
    background: transparent;
    backdrop-filter: blur(16.5px);
}
.max-618 {
    max-width: 618px;
}

.bb-0 {
    border-bottom: 1px solid rgba(251, 253, 255, 0.20);

}

.label {
    position: relative;
    width: 20px;
    height: 20px;
    float: right;
    display: none;
    cursor: pointer;
}

.label span {
    position: relative;
    display: block;
    height: 3px;
    width: 20px;
    background-color: var(--color-white);
    top: 12px;
    transition: all 300ms;
}

.label span::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: var(--color-white);
    top: 8px;
    left: 0;
    transition: all 300ms;
}

.label span::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: var(--color-white);
    top: -8px;
    left: 0;
    transition: all 300ms;
}

.label-switch span {
    background-color: transparent;
}

.label-switch span::before {
    top: 0;
    transform: rotate(45deg);
}

.label-switch span::after {
    top: 0;
    transform: rotate(-45deg);
}

.nav-btn,
.hero-btn,
.watch-btn,
.lean-btn,
.try-btn,
.up-btn {
    display: inline-flex;
    padding: 13px 32px;
    align-items: flex-start;
    gap: 8px;
    border: 1px solid transparent;
    border-radius: 40px;
    background: linear-gradient(160deg, rgba(0, 136, 255, 0.58) -14.36%, var(--color-light_blue2) 113.71%);
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(39, 60, 240, 0.27);
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    transition: all 250ms;
    overflow: hidden;
}

.up-btn {
    display: flex;
    justify-content: center;
}

.watch-btn::before,
.nav-btn::before,
.hero-btn::before,
.lean-btn::before,
.try-btn::before,
.up-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 40px;
    background: linear-gradient(160deg, rgba(70, 137, 195, 0.58) -14.36%, var(--color-light_blue3) 113.71%);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.watch-btn:hover,
.nav-btn:hover,
.hero-btn:hover,
.lean-btn:hover,
.try-btn:hover,
.up-btn:hover {
    border: 1px solid var(--color-light_blue);
}

.watch-btn:hover::before,
.nav-btn:hover::before,
.hero-btn:hover::before,
.lean-btn:hover::before,
.try-btn:hover::before,
.up-btn:hover::before {
    width: 100%;
}

.mt_3 {
    margin-top: 1.1rem;
}

.max-524 {
    max-width: 524px;
}

.w-lg-100 {
    width: 100%;
}

.max-515 {
    max-width: 515px;
}

.mt-130 {
    margin-top: 130px;
}

.lh-140 {
    line-height: 140%;
}

.max-467 {
    max-width: 467px;
}
.ai-img-width{
    max-width: 615.72px;
}
/* accordioan */
.bg-light-blue {
    border-radius: 10px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12.5px);
    transition: all 300ms ease-in-out;
}

.animation:hover {
    transition: all 350ms ease-in-out;
    transform: scale(.9);
}

.width-box {
    max-width: 480px;
    padding: 22.5px 20px;
}

.svg-box {
    padding: 16px;
    display: none;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(3, 137, 255, 0.10);
}


.box:hover {
    cursor: pointer;
}

.active h3 {
    color: var(--color-light_blue) !important;
}

.active p {
    display: block !important;
}

.active .svg-box {
    display: block;
}

.active h3 {
    margin-left: 20px;
}

.active p {
    margin-left: 20px;
}

.value-boxes {
    border-radius: 10px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12.5px);
    max-width: 400px;
    height: 88px;
    display: flex;
    padding: 0px 16px;
    align-items: center;
    gap: 14px;
}

/* slider */
.slider-img {
    width: 83px;
    height: 43px;
    flex-shrink: 0;
}


.slider-2 .slick-slide {
    margin-left: 15px;
    margin-right: 15px;
}

.slick-dots li button:before {
    content: '' !important;
}

.slick-dots li {
    width: 10px !important;
    height: 10px !important;
    content: '';
    color: var(--color-white) !important;
    background-color: var(--color-white);
    border-radius: 28px;
}

.slick-dots {
    bottom: -40px !important;
}

.slick-dots li.slick-active {
    opacity: 100%;
    background-color: var(--color-light_blue) !important;
    border-radius: 28px;
    height: 10px !important;
    width: 50px !important;
}

.max-800 {
    max-width: 800px;
}

.slider-card {
    max-width: 900px;
    border-radius: 20px;
    background: rgba(3, 137, 255, 0.12);
}

.arrows {
    top: 102px;
    right: -10px;
}

.img-1 {
    filter: grayscale(100%);
}

.img-1:hover {
    filter: grayscale(0%);
}

.dark-color {
    background: rgba(251, 253, 255, 0);
    ;
}

.border-r,
.border-r2,
.border-r3,
.border-r4,
.border-r5,
.border-r6 {
    border-right: 1px solid rgba(251, 253, 255, 0.52);
}

.pt-100 {
    padding-top: 100px;
}

/* 3-cards */
.S10-head {
    color: var(--color-cream2);
    text-align: center;
    font-size: var(--fs-lg);
    font-style: normal;
    font-weight: 500;
    line-height: 126%;
    text-transform: capitalize;
}

.border-b {
    border-bottom: 0.5px solid rgba(251, 253, 255, 0.101);
}

.b-r,
.b-r2,
.b-r3,
.b-r4 {
    border-right: 0.5px solid rgba(251, 253, 255, 0.101);
}

.plan-details {
    padding: 58px 32px 48px 34px;
}

.curser {
    position: absolute;
    left: 85%;
    top: 35%;
}

.blue-svg-circle {
    width: 20.63px;
    height: 20.63px;
    border-radius: 53.121px;
    background: rgba(3, 137, 255, 0.10);
    backdrop-filter: blur(1.289352297782898px);
}

.plan-btn {
    padding: 13px 32px;
    border-radius: 40px;
    border: 1px solid rgba(251, 253, 255, 1);
    transition: all 250ms linear;
    color: rgba(251, 253, 255, 1);
    font-family: 'Plus Jakarta Sans';
    font-size: var(--fs-sm1);
    font-weight: 600;
    line-height: 170%;
    text-transform: capitalize;
    background-color: transparent;
}

.plan-btn:hover {
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    background-color: var(--color-light_blue);
    color: white;
    border: 1px solid transparent;
}

.plan-main-head:hover {
    color: var(--color-light_blue);
}

.cp {
    cursor: pointer;
}

.mt-207 {
    margin-top: 207px;
}

.mt-90 {
    margin-top: 90px;
}

.last-section-box {
    border-radius: 29px;
    background: rgba(251, 253, 255, 0.07);
    padding: 1px 0px 1px 33px;
    gap: 167px;
    max-width: 520px;
}

.pl_8 {
    padding-left: 80px;
}

.outline-0 {
    outline: 0;
}

/* back-btn */
.to-top {
    font-size: x-large;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: var(--color-white);
    background-color: var(--color-light_blue);
    right: 40px;
    bottom: 40px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 3;
}

/* footer */
.bg-img {
    background-image: url('../images/hero-bg.webp') !important;
    min-height: 460px;
    background-position: center;
    background-size: cover;
}

.bg-color {
    background: rgba(3, 137, 255, 0.08);
}

.max-200 {
    max-width: 200px;
}

.circle_animation {
    transition: all 250ms linear;
}

.circle_animation:hover {
    transform: translateY(-5px);
}

.blue-glow {
    width: 362.394px;
    height: 338.572px;
    flex-shrink: 0;
    border-radius: 362.394px;
    opacity: 0.3;
    background: var(--color-light_blue4);
    filter: blur(100px);
}

.blue-glow-1 {
    width: 299.329px;
    height: 303.657px;
    flex-shrink: 0;
    border-radius: 303.657px;
    opacity: 0.4;
    background: var(--color-light_blue4);
    filter: blur(100px);
}

.glow-1 {
    top: 80%;
    left: 0;
}

.glow-left {
    bottom: 40%;
    left: -20%;
}

.glow-right {
    bottom: 50%;
    right: -10%;
}

.glow-left2 {
    bottom: 4%;
    left: 15%;
}

.glow-right2 {
    bottom: 0;
    right: -12%;
}

.glow-left3 {
    top: 15%;
    left: 15%;
}

.glow-right3 {
    top: 15%;
    right: -12%;
}

.glow-left4 {
    top: 8%;
    left: -15%;
}

.glow-middle {
    top: 55%;
    right: 40%;
}

.glow-right5 {
    top: 55%;
    right: -5%;
}

.glow-left5 {
    bottom: -24%;
    left: -15%;
}

.glow-middle2 {
    bottom: -50%;
    right: 38%;
}

.pt_7 {
    padding-top: 7rem !important;
}
.center{
    display: grid;
    place-content: center ;
}
/* preloader */
.loader {
    width: 130px;
    height: 170px;
    position: relative;
    font-family: inherit;
}

.loader::before,
.loader::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 30px;
    left: 15px;
    z-index: 1;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 20px solid var(--color-dark_blue4);
    transform: scale(0);
    transition: all 0.2s ease;
}

.loader::after {
    border-right: 15px solid transparent;
    border-bottom: 20px solid var(--color-dark_blue5);
}

.loader .getting-there {
    width: 120%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: -7%;
    font-size: 12px;
    letter-spacing: 2px;
    color: var(--color-white);
}

.loader .binary {
    width: 100%;
    height: 140px;
    display: block;
    color: var(--color-white);
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 2;
    overflow: hidden;
}

.loader .binary::before,
.loader .binary::after {
    font-family: "Lato";
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.loader .binary:nth-child(1)::before {
    content: "0";
    animation: a 1.1s linear infinite;
}

.loader .binary:nth-child(1)::after {
    content: "0";
    animation: b 1.3s linear infinite;
}

.loader .binary:nth-child(2)::before {
    content: "1";
    animation: c 0.9s linear infinite;
}

.loader .binary:nth-child(2)::after {
    content: "1";
    animation: d 0.7s linear infinite;
}

.loader.JS_on::before,
.loader.JS_on::after {
    transform: scale(1);
}

@keyframes a {
    0% {
        transform: translate(30px, 0) rotate(30deg);
        opacity: 0;
    }

    100% {
        transform: translate(30px, 150px) rotate(-50deg);
        opacity: 1;
    }
}

@keyframes b {
    0% {
        transform: translate(50px, 0) rotate(-40deg);
        opacity: 0;
    }

    100% {
        transform: translate(40px, 150px) rotate(80deg);
        opacity: 1;
    }
}

@keyframes c {
    0% {
        transform: translate(70px, 0) rotate(10deg);
        opacity: 0;
    }

    100% {
        transform: translate(60px, 150px) rotate(70deg);
        opacity: 1;
    }
}

@keyframes d {
    0% {
        transform: translate(30px, 0) rotate(-50deg);
        opacity: 0;
    }

    100% {
        transform: translate(45px, 150px) rotate(30deg);
        opacity: 1;
    }
}

@media (max-width:1200px) {
    .curser {
        display: none;
    }
}

@media(max-width:992px) {
    .label {
        display: block !important;
        z-index: 10;
        margin-top: 15px;
    }

    .menu {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(12px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        transition: all 300ms;
        gap: 18px;
        z-index: 3;
    }

    .max-524 {
        max-width: unset;
    }

    .max-515 {
        max-width: unset;
    }

    .hero-btn {
        position: inherit;
    }

    .max-467 {
        max-width: unset;
    }

    .value-boxes {
        max-width: 100%;
    }

    .mt-130 {
        margin-top: 0;
    }

    .border-r6,
    .border-r3 {
        border-right: none;

    }

    .b-r2,
    .b-r3 {
        border-right: none;
    }

    .by-1 {
        border-top: 1px solid var(--color-cream);
        border-bottom: 1px solid var(--color-cream);
        width: 100%;
    }

}

@media (max-width:768px) {

    .b-r,
    .b-r4 {
        border-right: none;
    }

    .border-r2,
    .border-r5 {
        border-right: none;
    }

    .border-t {
        border-top: 1px solid var(--color-cream);
        width: 100%;
    }

    .border-r6 {
        border-top: 1px solid var(--color-cream);
        border-right: 1px solid var(--color-cream);
    }

    .border-r7 {
        border-top: 1px solid var(--color-cream);
    }
    .jcc-lg{
        justify-content: center;
    }
}

@media (max-width:576px) {

    .border-r,
    .border-r2,
    .border-r3,
    .border-r4,
    .border-r5,
    .border-r6,
    .border-r7,
    .by-1,
    .border-t,
    .border-bottom {
        border: none !important;
    }

    .w-lg-100 {
        width: 50%;
    }

    .card-img {
        margin: 0 120px;
    }
}

@media (min-width:1400px) {
    .container-hd{
        max-width: 1920px !important;
    }
}